body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.sale-tag {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: red;
  color: white;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8%;
}


.carrito-icon {
  color: rgba(0,0,0,0.65);
  text-decoration: none;
  padding:5px;
}
.carrito-icon:hover {
  color: rgba(0,0,0,0.8);
}

#foto-portada {
  width: 30%;
}

.loading-container {
  text-align: center;
  padding-top: 150px;
}
#loading-gif {
  width: 100px;
}

.navbar {
  background-color: #fff;
  color: #000;
}

.navbar.dark-mode {
  background-color: #000 !important;
  color: #fff !important;
}
body.dark-mode {
  background-color: #222;
  color: #fff;
}
.imagenCarrito {
  max-width: 60px;
}

.dark-mode .navbar * {
  color: white;
}

.dark-mode-toggle {
  border: none;
  background-color: transparent;
}
.dark-mode-toggle img{
  width: 20px;
}

.removeItem {
  font-weight: bold;
  cursor: pointer;
}